@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    outline: none;
}
:root{
   --bg-color: #1f242d;
   --second-bg-color : #323946;
   --text-color :#fff;
   --main-color : #0ef;
}
a{
    text-decoration: none;
}
html{
    font-size: 50%;
   
}
body{
    background-color: #1f242d;
    color: #fff;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    background-color: #1f242d;
}
.img-home{
    border-radius: 50%;
}
.header-upper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin:0 ;
    padding: 2rem;
    background: #1f242d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}
.header-upper.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0,.1);
}
.navbar{
    padding-right: 2rem 9%;
}
.logo{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    cursor: default;
    text-decoration: none;
}
.navbar a{
    font-size: 1.7rem;
    color: #fff;
    margin-left: 2rem;
    text-decoration: none;
}
.navbar a:hover,
.navbar a.active
{
    color:#fff;
}
#menu-icon{
    font-size: 3rem;
    color: #fff;
    display: none;
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    
}
.home-contain .anu{
    font-size: 2.2rem;
    font-weight: 700;
}
.home-contain h1{
    font-size: 3.5rem;
    font-weight: 700;
}
.home-contain p{
    font-size: 1.5rem;
}
.img-home{
    width: 32vw;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home-img{
    padding-left: 10%;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    font-size: 2rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    text-decoration: none;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.home-contain h3:nth-of-type(2){
    margin-bottom: 2rem ;
}
span{
    color: var(--main-color);
    margin-left: 10px;
}
.button{
    color: var(--second-bg-color);
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    box-shadow: 0 0 1rem var(--main-color);
    text-decoration: none;
}
.button:hover{
    box-shadow: none;
}
.img-about{
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
}
.about-img{
    width: 100%;
    padding: 10vw;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 100vh;
    background: var(--second-bg-color);
    color: #fff;
}
.heading{
text-align: center;
font-size: 4.5rem;
}
.about-contain h2{
    text-align: left;
    line-height: 1.2;
}
.about-contain h3{
    font-size: 2.6rem;
}
.about-contain{
    font-size: 1.6rem;
    margin: 2rem 0 3rem ;
    width: 80%;
}
/* award */
.award h2{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: #fff;
}
.award{
    color: #fff;
}
.award-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 5rem;
}
.award-block{
    margin-top: 2.5rem;
}
.award-block p{
    font-size: 1.5rem;
    margin: 3rem 2rem 3rem 0;
}
.award-head{
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
.service h2{
    margin-bottom: 5rem;
    color: #fff;
}
.service{
   background-color:  #1f242d;
}
.service-container{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.service-container .service-box{
    flex: 1 1 25rem;
    background: var(--second-bg-color);
    padding: 2rem 2rem 3rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}
.service-box i {
    font-size: 5rem;
    color: var(--main-color);
}
.service-box h3{
    font-size: 2.6rem;

}
.service-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.service-container .service-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.portfolio{
    background: var(--second-bg-color);
}
.portfolio h2{
    margin-bottom: 5rem;
    color: #fff;
}
.portfolio-container{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow:  0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    height: 23rem;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0,.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 0 2rem 0;
    transform: translateY(100%);
    transition: .7s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 3rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}
.contact h2{
    margin-bottom: 2rem;
    color: #fff;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.contact form .input-boxes{
    margin-left: 3rem ;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin:  .8rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .button{
    margin-top: 2rem;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    color: #fff;
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items:center ;
    padding: .8rem;
    background: var(--text-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
    font-size: 1.2rem;
    color: var(--main-color);
}
/* animation */
.home-contain .anu span{
    position: relative;
    overflow: hidden;
}
.anitor:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background-color:var(--bg-color);
    border-left: 2px solid var(--main-color);
    overflow: hidden;
    animation: anite 6s steps(15) infinite;
}
@keyframes anite {
    10%,60%{
        left: 100%;
    }
    100%{
        left: 0%;
        
    }
}
/* media responsive */
@media (max-width:1200px) {
    html{
        font-size: 40%;
    }
}
@media (max-width:990px) {
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .navbar{
        display: none;
    }
    .service{
        padding-bottom: 7rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
    .img-home{
        width: 70%;
        margin-bottom: 2rem;
    }
}
@media (max-width:768px) {
    #menu-icon{
        display: block;
    }    

    .header-upper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .navbar{
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        display: none;
    }
   
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: none;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        
    }
    .home-contain h3{
        font-size: 2.6rem;
    }
    .home-contain h1{
        font-size: 3rem;
    }
    .img-home{
        width: 35%;
        margin: 4rem;
    }
    .about{
       flex-direction: column-reverse;
       padding-left: 4rem ;
       gap: 5rem;
    }
    .service{
        padding-bottom: 4rem;
        width: fit-content;
    }
    .award-list{
        grid-template-columns: repeat(1,1fr);
    }
    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
        width: fit-content;
    }
    .about-img .img-about{
        width: 75%;
        height: 80%;
    }
}
@media (max-width: 617px) {
    .portfolio-container{
        grid-template-columns: 1fr;
    }
    .about img{
        width: 40vw;
        margin-left: 5rem;
    }
    .about-contain h3{
        font-size: 2rem;
    }
    .about-contain p{
        font-size: 1.4rem;
        color: rgb(241, 220, 220);
    }
    .footer .footer-text{
        font-size: .3rem;
        margin-bottom: 1.5rem;
    }
    .img-home{
        width: 70%;
        margin: 2rem;
    }
}
@media (max-width: 617px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
        flex-wrap: wrap;
    }
    .navbar{
        display: none;
    }
    .img-home{
        width: 70vw;
        margin: 2rem;
    }
}